<!-- Banner Wrapper -->
<div id="banner-wrapper">

	<!-- Banner -->
	<div id="banner" class="container">
		<!-- Header Image -->
		<div class="image-header">
			<img src="images/SheikhBabikir05.jpg" class="mobile-hide" alt="">
			<img src="images/SheikhBabikir02.jpg" class="mobile-hide" alt="">
			<img src="images/SheikhBabikir01.jpg" alt="">
			<img src="images/SheikhBabikir03.jpg" class="mobile-hide" alt="">
			<img src="images/SheikhBabikir04.jpg" class="mobile-hide" alt="">
		</div>
	</div>

</div>