<!-- Footer -->
<div id="footer" class="container">
	<div class="row">
		<div class="6u 12u(mobile)">
			<section>
				<header>
					<h2>Join the conversation</h2>
				</header>

				<a href="request.html" class="button">Contact the Sheikh</a>

				<p>
					<br/>
					More about <strong>Rumi's Cave</strong> or <strong>Rumi's Kitchen</strong>, email <a href="mailto:info@rumis.org" target="_top">info@rumis.org</a><br />
					More about <strong>Ulfa Aid</strong>, email <a href="mailto:ulfa@rumis.org" target="_top">ulfa@rumis.org</a><br/>
				</p>

				<div class="row">
					<div class="7u 12u(mobile)">
						<a href="https://www.google.com/maps/place/26+Willesden+Ln,+London+NW6+7ST,+UK/@51.5415251,-0.2015546,17z/data=!4m7!1m4!3m3!1s0x48761071fc0f9709:0x1e977261d12d3bd0!2s26+Willesden+Ln,+London+NW6+7ST,+UK!3b1!3m1!1s0x48761071fc0f9709:0x1e977261d12d3bd0?hl=en-US" class="image full" target="_blank"><img src="/images/RumisCaveMap.png" alt=""></a>
					</div>
					<div class="5u 12u(mobile)">
						<p><br/>Rumi's Cave<br />
							26 Willesden Lane,<br />
							London<br/>
							NW6 7ST</p>

						</div>

					</div>
				</section>
			</div>
			<div class="6u 12u(mobile)">
				<section>
					<header>
						<h2>Keep up to date</h2>
					</header>

					<p>
						<ul class="contact">
							<li><a href="https://twitter.com/sheikhbabikir" class="icon fa-twitter" target="_blank"><span>Twitter</span></a></li>
							<li><a href="https://www.facebook.com/sheikhbabikir" class="icon fa-facebook" target="_blank"><span>Facebook</span></a></li>
							<li><a href="https://www.instagram.com/sheikhbabikir" class="icon fa-instagram" target="_blank"><span>Instagram</span></a></li>
							<li><a href="https://itunes.apple.com/gb/podcast/seminars-spiritual-master/id428834510" class="icon fa-headphones" target="_blank"><span>Podcasts</span></a></li>
							<li><a href="http://youtube.com/BabikirDotCom" class="icon fa-youtube-play" target="_blank"><span>YouTube</span></a></li>
						</ul>	

					</p>

					<p>Subscribe to our mailing list to get all the latest news and information, including details about forthcoming events, courses and retreats, as well as ways that you can get involved.</p>
					<a href="http://rumis.us3.list-manage.com/subscribe?u=f0f1a2e17f58ed76c34904631&id=8cee26f89f" class="button" target="_blank">Join Mailing List</a>
				</section>
			</div>
		</div>

	</div>

	<!-- Copyright -->
	<div id="copyright"> &copy; <span id="current-year"></span> Sheikh Babikir Ahmed Babikir. All rights reserved.</div>

	<script>
		$(function myFunction() {
			document.getElementById("current-year").innerHTML = new Date().getFullYear();
		});
	</script>
	
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-78360833-1', 'auto');
		ga('send', 'pageview');

	</script>
