<!-- Main -->
<div id="main" class="container">

	<div class="row">
		<div class="7u 12u(mobile)">
			<section id="content">
				<header>
					<h2>Join the Ulfa Aid community</h2>
					<span class="byline">We are committed to building & supporting communities</span>
				</header>
				<div class="row">
					<div class="6u 12u(mobile)">
						<p>Ulfa Aid works to support those who are marginalised, isolated and vulnerable across the globe and here at home</p>
						<a href="about-ulfa-aid.html" class="image full"><img src="/images/UlfaAid.jpg" alt=""></a>
					</div>
					<div class="6u 12u(mobile)">
						<p>Our approach is to research, develop and implement lasting solutions on a micro-level that are sustainable to the local community. We advocate for change on behalf of the most disenfranchised sections of our society. </p>
						<a href="https://www.justgiving.com/ulfaaid" class="button" target="_blank">Donate</a>
					</div>
				</div>
			</section>
		</div>
		<div class="5u 12u(mobile)">
			<section>
				<ul class="style1" id="facebook"></ul>
			</section>
		</div>
	</div>

</div>